*{
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper{
  width: 288px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
	text-align: center;
}


.point{
	font-weight: bold;
	font-size: 24px;
	color: black;
    text-align: center;
}